.sidebar {
    width: 200px;
    background-color: #0c2e51; /* Koyu arka plan */
    color: #ffffff; /* Beyaz metin */
    padding: 1rem;
    height: 100vh; /* Yüksekliği tam sayfa yap */
    box-shadow: 2px 0 5px rgba(182, 152, 152, 0.1); /* Hafif gölge */
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease; /* Geçiş efekti */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 1rem;
  }
  
  .sidebar a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
  }
  
  .sidebar a:hover {
    background-color: #495057; /* Hover arka plan rengi */
    color: #ffffff; /* Hover metin rengi */
  }
  
  .sidebar a.active {
    background-color: #495057; /* Aktif link arka plan rengi */
    font-weight: bold;
  }
  
  .sidebar-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: #ffffff;
  }
  
  .sidebar-footer {
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px solid #495057; /* Üstünde ince bir çizgi */
    text-align: center;
    font-size: 0.875rem;
    color: #adb5bd;
  }
  
  .sidebar-footer a {
    color: #adb5bd;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .sidebar-footer a:hover {
    color: #ffffff;
  }
  
  