/* Genel Layout Stilleri */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .layout-content {
    display: flex;
    flex: 1;
    overflow: hidden; /* Taşmaları önler */
  }
  
  .main-content {
    flex: 1;
    padding: 1.5rem;
    background-color: #f8f9fa;
    overflow-y: auto;
  }
  
  .navbar {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.8rem; /* Yazı boyutunu büyüt */
    font-weight: bold; /* Kalın yazı */
    color: #ffffff;
    text-transform: uppercase; /* Büyük harf yap */
    letter-spacing: 0.1rem; /* Harf aralığını aç */
  }
  
  .navbar-brand a {
    text-decoration: none; /* Link alt çizgisini kaldır */
    color: inherit; /* Parent color'ı miras al */
    transition: color 0.3s ease, transform 0.3s ease; /* Hover geçiş efekti */
  }
  
  .navbar-brand a:hover {
    color: #ffdd57; /* Hover durumunda altın sarısı renk */
    transform: scale(1.1); /* Hover durumunda hafif büyüme efekti */
  }
  
  
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-links a:hover {
    background-color: #495057;
  }
  
  /* Sidebar Stilleri */
  .sidebar {
    width: 220px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 1rem;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar a:hover {
    background-color: #495057;
  }
  
  /* Sidebar ve Navbar'da Hover ve Aktif Durumlar */
  .sidebar a.active, .navbar-links a.active {
    background-color: #495057;
    font-weight: bold;
  }

  .navbar-links .logout-button {
    background-color: #ff4757;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navbar-links .logout-button:hover {
    background-color: #e84118;
  }
  
  